.second__page__wrapper{
    display: grid;
    row-gap: 180px;
    margin:180px auto;
}

.container{
    max-width: 1230px;
    margin: 0 auto;
}
.header__wrapper{
    display: flex;
    
}
.text__header{
    margin-left:135px;
}
.title{
    color:#1E212C;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 150%;
}
.sub__title{
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
}
.btn__wrapper{
    display: flex;
    justify-content: flex-end;
}
.links__wrapper{
    display: flex;
    column-gap: 40px;
    flex-wrap:wrap;
}
.link__item{
list-style-image: url(../img/icon.svg);
}
.link__item a{
text-decoration: none;
color:black
}
.nav__menu__wrapper{
    display: grid;
    grid-template-areas: "t b"
                         "w w";
}
.set__title{
    grid-area: t;
    margin-bottom: 60px;
}
.no__bg__btn{
    height: 52px;
    width: 150px;
    color: #F75E05;
    background-color: rgba(28,28,28,0);
    border-radius: 5px;
    border: solid;
    border: 2px solid #F75E05; /* Параметры рамки */
    margin-right: 30px;
    grid-area: b;
}
.set__workers__people{
    grid-area: w;
    display: grid;
    grid-template-columns: minmax(auto,600px) minmax(auto,600px);
    column-gap: 30px;
    row-gap: 30px;
}
.item__worker{
    display: flex;
    column-gap: 32px;
    flex-wrap: wrap;
    align-items: center;
    border: 3px solid gray/300;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}
.position__wrap__marketing{
    background-color:#03CEA4;
    width: 80px;
    height: 21px;
    text-align: center;
    border-radius: 5px;
}
.position__wrap__manager{
    background-color:#5A87FC;
    width: 80px;
    height: 21px;
    text-align: center;
    border-radius: 5px;
}
.position__wrap__design{
    background-color:#F52F6E;
    width: 80px;
    height: 21px;
    text-align: center;
    border-radius: 5px;
}
.position__wrap__hr{
    background-color: #F89828;
    width: 80px;
    height: 21px;
    text-align: center;
    border-radius: 5px;
}
.position{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

.extended__position{
    color: #1E212C;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    margin:20px 0px 20px 0px;
    max-width: 322px;
}
.money__info__wrapper{
    display: flex;
    column-gap: 8px;
}
.money{
    color:#FF4242;
}
.by__info{
    color:#787A80;
}
.double__title__footer{
    text-align: center;
}
.footer__wrapper{
    display: grid;
    row-gap: 90px;
}
.link__footer__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 150px;
}
.link__footer__item__wrapp{
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;
    color: #9A9CA5;
}
.orange__link__wrapp{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FF3F3A;
    width: 250px;
    height: 30px;
    border-radius: 5px;
}
.orange__link__text{
    color: #FF3F3A;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
}
.footer__title{
    color:#1E212C;
    font-weight: 900;
    font-size: 32px;
    line-height: 130%;
}
.sub__footer__text{
    color:#424551;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}
.footer__content__wrapper{
    display: flex;
    column-gap: 150px;
}
.footer__text__wrapper{
    margin-top: 200px;
}